
main{
    background-color: white;
}

body{
    font-family: 'Poppins', sans-serif;
}
.copa-banner img{
    width: 556px;
    height: 438px;
    margin-right: 80px;
    
}
.copa{
    display: flex;
    background-color: blue;
    align-items: center;
    
}
.copa-title{
    color: white;
    width: 485px;
    padding: 156px;
}
.watch{
    border: 5px solid red;
    background-color: red;
    color: white;
    width: 168px;
    font-weight: 300px;
}
.wraper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap: 30px;
    justify-content: center;
    
}
.wraper{
    margin-top: 30px;
    padding-left: 30px;
    
}
.player img{
    width: 315px;
}
.player{
 width: 315px;
 border: 1px solid whitesmoke ;
 box-shadow: rgba(0, 0, 0, 0.15);
 border-radius: 5px;
 

}
.player-name{
    font-weight: 700;
    color: seagreen;
}
.player-title{
    font-weight: 300px;
    color:black;
    font-size: 15px;
}
.highlights{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.highlights-text{
    width: 469px;
    padding-right: 20px;
    margin-left: 15px;
    justify-content: center;
    

}
.highlights-banner img{
    width: 567px;
    margin-left: 40px;
    padding: 80px;
}
.high-text{
    text-align: center;
}
.football{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content:space-evenly;

    
}
.footer-banner img{
    width: 483px;

}
.social-icon{
    text-align: center;
}
.social-icon img{
    width: 25px;
    
}
.copy-rights{
    text-align: center;
}
@media only screen and (max-width:768px)  {

    .wraper{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
    .football{
        grid-template-columns: repeat(1,1fr);
    }

}